In [1]:
import pandas as pd
import requests
import json
import html
#from config import api_key
import time
import pprint as pprint
from bs4 import BeautifulSoup as bs
import pymongo

In [60]:
 production_list=['fineline','columbia','universal','buenavista']

# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.BoxOfficeDB

# Query all students
# Here, db.students refers to the collection 'classroom '
moviescol = db.movies.find()

In [61]:

print(lst_tab[0]+str(1))

table1

In [62]:
for item in production_list:
    print(item)
print(production_list[0])

fineline
columbia
universal
buenavista
fineline

In [102]:
#url = 'https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States'
#for item in production_list:

urlstr1="https://www.boxofficemojo.com/studio/chart/?page="
urlstr2="&yr=&view=parent&view2=allmovies&studio=warnerbros"
urlstr3=".htm&p=.htm"
lst_tab=[]
lst_tab=['table']
i=1
       
for i in range (1,15):
            url=urlstr1 + str(i) + urlstr2 + urlstr3
            print(url)
            lst_tab.append(lst_tab[0]+str(i))
            
            table= pd.read_html(url)
            df = table[1]
            df.columns = ['Rank', 'Movie_Title', 'Studio', 'Total_Gross','Opening', 'Open', 'Theaters ', 'Date']
            df = df.iloc[1:]
            df=df.iloc[:100]
            records = json.loads(df.to_json(orient='records'))
            db.movies.insert_many(records)

https://www.boxofficemojo.com/studio/chart/?page=1&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=2&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=3&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=4&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=5&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=6&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=7&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=8&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=9&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=10&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=11&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=12&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=13&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=14&yr=&view=parent&view2=allmovies&studio=warnerbros.htm&p=.htm

In [118]:
prodlist=['fineline']
for item in prodlist:
        urlstr1="https://www.boxofficemojo.com/studio/chart/?page="
        urlstr2="&yr=&view=parent&view2=allmovies&studio="
        urlstr3=".htm&p=.htm"
        lst_tab=[]
        lst_tab=['table']
        i=1

        for i in range (1,15):
                try:
                        url=urlstr1 + str(i) + urlstr2+ item + urlstr3
                        print(url)
                        lst_tab.append(lst_tab[0]+str(i))

                        table= pd.read_html(url)
                        df = table[1]
                        df.columns = ['Rank', 'Movie_Title', 'Studio', 'Total_Gross','Opening', 'Open', 'Theaters ', 'Date']
                        df = df.iloc[1:]
                        df=df.iloc[:100]
                        records = json.loads(df.to_json(orient='records'))
                        db.movies.insert_many(records)
                except:
                        print("end of records")

https://www.boxofficemojo.com/studio/chart/?page=1&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=2&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=3&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=4&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=5&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=6&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=7&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=8&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=9&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=10&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=11&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=12&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=13&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm
https://www.boxofficemojo.com/studio/chart/?page=14&yr=&view=parent&view2=allmovies&studio=fineline.htm&p=.htm

In [119]:
print(table[1])

                                 Rank                      Movie_Title  \
0                                Rank      Movie Title (click to view)
1                                1301  The Bodyguard (2012 re-release)
2                                1302                  Shadow of China
3                                1303               Afraid of the Dark
4                                1304                        Julian Po
5                                1305                    December Boys
6                                1306       The Bridge of San Luis Rey
7                                1307                       Lost River
8                                1308                          Hammett
9                                1309              The Year of the Yao
10                               1310               Man of the Century
11                               1311          Mean Streets (Re-issue)
12                               1312                 Head Above Water
13                               1313                     Checking Out
14                               1314                      Normal Life
15                               1315                     Rails & Ties
16                               1316                    The Sunchaser
17                               1317                       That Night
18                               1318    1995 Bugs Bunny Film Festival
19                               1319         Esmeralda Comes by Night
20                               1320                       Full of It
21                               1321  Who the #$&% Is Jackson Pollock
22                               1322               War of the Buttons
23                               1323                        Buddy Boy
24                               1324   Dial 'M' for Murder (Re-issue)
25                               1325               Head Full of Honey
26                               1326                      Breaking Up
27                               1327       The Prince of Pennsylvania
28                               1328                         Hit List
29                               1329                       Trojan War
30  Summary of 1,329 Movies on Chart:                              NaN
31                            Totals:                  $51,749,293,274
32                          Averages:                      $38,938,520
33                                NaN                              NaN

    Studio             Total_Gross             Opening     Open  Theaters   \
0   Studio  Total Gross / Theaters  Opening / Theaters     Open        NaN
1       WB                 $61,020                 484      NaN        NaN
2       NL                 $55,166                   4  $15,719        4.0
3       FL                 $53,932                 NaN      NaN        NaN
4       FL                 $51,942                 NaN      NaN        NaN
5      WIP                 $50,715                  13  $15,810        4.0
6       FL                 $49,981                   6  $21,281        6.0
7       WB                 $45,431                   3  $20,828        3.0
8       WB                 $42,914                 NaN      NaN        NaN
9       FL                 $35,591                  12  $27,823       12.0
10      FL                 $34,857                  10   $7,724        2.0
11      WB                 $32,645                   3  $32,645        3.0
12      FL                 $32,212                  10  $11,589       10.0
13      WB                 $30,877                   8  $12,730        1.0
14      FL                 $22,891                   2   $3,315        1.0
15      WB                 $22,136                   5  $11,059        5.0
16      WB                 $21,508                  23  $13,845       23.0
17      WB                 $20,194                 NaN      NaN        NaN
18      WB                 $19,587                   1   $7,219        1.0
19      FL                 $15,671                 NaN      NaN        NaN
20      NL                 $14,273                  15  $11,431       15.0
21    PicH                 $13,710                   2   $5,526        2.0
22      WB                 $12,712                   2   $4,930        2.0
23      FL                 $12,597                   3   $3,651        2.0
24      WB                 $12,562                   1  $12,562        1.0
25      WB                 $12,350                   4   $8,715        4.0
26      WB                 $11,690                   2   $4,493        2.0
27      NL                  $5,415                   1   $3,174        1.0
28      NL                  $4,564                   3   $3,195        3.0
29      WB                    $309                   1     $217        1.0
30     NaN                     NaN                 NaN      NaN        NaN
31       -                       -                   -        -        NaN
32       -                       -                   -        -        NaN
33     NaN                     NaN                 NaN      NaN        NaN

        Date
0        NaN
1    3/28/12
2    3/10/91
3    7/24/92
4     9/5/97
5    9/14/07
6    6/10/05
7    4/10/15
8    9/17/82
9    4/15/05
10  10/29/99
11   3/13/98
12   6/25/97
13   4/21/89
14  10/25/96
15  10/26/07
16  10/25/96
17    8/6/93
18    5/5/95
19   9/18/98
20    3/2/07
21  11/15/06
22   9/29/95
23   3/24/00
24    4/9/99
25  11/30/18
26  10/17/97
27   9/16/88
28    3/3/89
29   9/26/97
30       NaN
31       NaN
32       NaN
33       NaN

In [86]:
lst_tab[2]
        #print(len(lst_tab))
        lst_len=len(lst_tab)
        m=0
        for m in range(1,3):
                print(m)
                df = lst_tab[m]
                df.columns = ['Rank', 'Movie_Title', 'Studio', 'Total_Gross','Opening', 'Open', 'Theaters ', 'Date']
                df = df.iloc[1:]
                df=df.iloc[:100]
                records = json.loads(df.to_json(orient='records'))
                db.movies.insert_many(records)
                #db.movies.update()
                #record1.update({'ID':201},{'$set':{'Type': "Most important"}},upsert = True)

[           0                1                  2
 0  BY STUDIO  BY MAJOR STUDIO  BY PARENT COMPANY]

In [47]:
lst_len=len(lst_tab)
for m in range(1,lst_len):
        df = lst_tab[m][1]
        df.columns = ['Rank', 'Movie_Title', 'Studio', 'Total_Gross','Opening', 'Open', 'Theaters ', 'Date']
        df = df.iloc[1:]
        df=df.iloc[:100]
        records = json.loads(df.to_json(orient='records'))
        db.movies.insert_many(records)
        #db.movies.update()
        #record1.update({'ID':201},{'$set':{'Type': "Most important"}},upsert = True)

In [19]:

#df.head(110)

df.head(110)

,Rank,Movie_Title,Studio,Total_Gross,Opening,Open,Theaters,Date
1,1,The Dark Knight,WB,"$533,345,358",4366,"$158,411,483",4366.0,7/18/08
2,2,The Dark Knight Rises,WB,"$448,139,099",4404,"$160,887,295",4404.0,7/20/12
3,3,Wonder Woman,WB,"$412,563,408",4165,"$103,251,471",4165.0,6/2/17
4,4,Harry Potter and the Deathly Hallows Part 2,WB,"$381,011,219",4375,"$169,189,427",4375.0,7/15/11
5,5,The Lord of the Rings: The Return of the King,NL,"$377,027,325",3703,"$72,629,713",3703.0,12/17/03
6,6,American Sniper,WB,"$350,126,372",3885,"$633,456",4.0,12/25/14
7,7,The Lord of the Rings: The Two Towers,NL,"$339,789,881",3622,"$62,007,528",3622.0,12/18/02
8,8,Batman v Superman: Dawn of Justice,WB,"$330,360,194",4256,"$166,007,347",4242.0,3/25/16
9,9,Aquaman,WB,"$329,906,102",4184,"$67,873,522",4125.0,12/21/18
10,10,It,WB (NL),"$327,481,748",4148,"$123,403,419",4103.0,9/8/17
11,11,Suicide Squad,WB,"$325,100,054",4255,"$133,682,248",4255.0,8/5/16
12,12,Harry Potter and the Sorcerer's Stone,WB,"$317,575,550",3672,"$90,294,621",3672.0,11/16/01
13,13,The Lord of the Rings: The Fellowship of the Ring,NL,"$313,364,114",3381,"$47,211,490",3359.0,12/19/01
14,14,The Hobbit: An Unexpected Journey,WB (NL),"$303,003,568",4100,"$84,617,303",4045.0,12/14/12
15,15,Harry Potter and the Half-Blood Prince,WB,"$301,959,197",4455,"$77,835,727",4325.0,7/15/09
16,16,Harry Potter and the Deathly Hallows Part 1,WB,"$295,983,305",4125,"$125,017,372",4125.0,11/19/10
17,17,Inception,WB,"$292,576,195",3792,"$62,785,337",3792.0,7/16/10
18,18,Harry Potter and the Order of the Phoenix,WB,"$292,004,738",4285,"$77,108,414",4285.0,7/11/07
19,19,Man of Steel,WB,"$291,045,518",4207,"$116,619,362",4207.0,6/14/13
20,20,Harry Potter and the Goblet of Fire,WB,"$290,013,036",3858,"$102,685,961",3858.0,11/18/05
21,21,The Matrix Reloaded,WB,"$281,576,461",3603,"$91,774,413",3603.0,5/15/03
22,22,The Hangover,WB,"$277,322,503",3545,"$44,979,319",3269.0,6/5/09
23,23,Gravity,WB,"$274,092,705",3820,"$55,785,112",3575.0,10/4/13
24,24,Harry Potter and the Chamber of Secrets,WB,"$261,988,482",3682,"$88,357,488",3682.0,11/15/02
25,25,The Hobbit: The Desolation of Smaug,WB (NL),"$258,366,855",3928,"$73,645,197",3903.0,12/13/13
26,26,The LEGO Movie,WB,"$257,760,692",3890,"$69,050,279",3775.0,2/7/14
27,27,I Am Legend,WB,"$256,393,010",3648,"$77,211,321",3606.0,12/14/07
28,28,The Blind Side,WB,"$255,959,475",3407,"$34,119,372",3110.0,11/20/09
29,29,The Hobbit: The Battle of the Five Armies,WB (NL),"$255,119,788",3875,"$54,724,334",3875.0,12/17/14
30,30,The Hangover Part II,WB,"$254,464,305",3675,"$85,946,294",3615.0,5/26/11
...,...,...,...,...,...,...,...,...
71,71,Gremlins,WB,"$148,168,459",1537,"$12,511,634",1511.0,6/8/84
72,72,Gran Torino,WB,"$148,095,302",3045,"$271,720",6.0,12/12/08
73,73,Lethal Weapon 2,WB,"$147,253,986",1830,"$20,388,800",1803.0,7/7/89
74,74,The Meg,WB,"$145,443,742",4118,"$45,402,195",4118.0,8/10/18
75,75,The Great Gatsby (2013),WB,"$144,840,419",3550,"$50,085,185",3535.0,5/10/13
76,76,Lethal Weapon 3,WB,"$144,731,527",2568,"$33,243,086",2510.0,5/15/92
77,77,Rush Hour,NL,"$141,186,864",2724,"$33,001,803",2638.0,9/18/98
78,78,Ocean's 8,WB,"$140,218,711",4145,"$41,607,378",4145.0,6/8/18
79,79,Rush Hour 3,NL,"$140,125,968",3778,"$49,100,158",3778.0,8/10/07
80,80,The Matrix Revolutions,WB,"$139,313,948",3502,"$48,475,154",3502.0,11/5/03
81,81,Ready Player One,WB,"$137,690,172",4234,"$41,764,050",4234.0,3/29/18
82,82,The Conjuring,WB (NL),"$137,400,141",3115,"$41,855,326",2903.0,7/19/13
83,83,The Green Mile,WB,"$136,801,374",2875,"$18,017,152",2875.0,12/10/99
84,84,Argo,WB,"$136,025,503",3247,"$19,458,109",3232.0,10/12/12
85,85,Teenage Mutant Ninja Turtles,NL,"$135,265,915",2377,"$25,398,367",2006.0,3/30/90
86,86,Superman,WB,"$134,218,018",817,"$7,465,343",508.0,12/15/78
87,87,Troy,WB,"$133,378,256",3411,"$46,865,412",3411.0,5/14/04
88,88,The Departed,WB,"$132,384,315",3017,"$26,887,467",3017.0,10/6/06
89,89,Lethal Weapon 4,WB,"$130,444,603",3117,"$34,048,124",3117.0,7/10/98
90,90,Get Smart,WB,"$130,319,208",3915,"$38,683,480",3911.0,6/20/08
91,91,Central Intelligence,WB (NL),"$127,440,871",3508,"$35,535,250",3508.0,6/17/16
92,92,Dumb and Dumber,NL,"$127,175,374",2565,"$16,363,442",2447.0,12/16/94
93,93,The Legend of Tarzan,WB,"$126,643,061",3591,"$38,527,856",3561.0,7/1/16
94,94,Ocean's Twelve,WB,"$125,544,280",3290,"$39,153,380",3290.0,12/10/04
95,95,Terminator Salvation,WB,"$125,322,469",3602,"$42,558,390",3530.0,5/21/09
96,96,Sully,WB,"$125,070,033",3955,"$35,028,301",3525.0,9/9/16
97,97,The Bodyguard,WB,"$121,945,720",1806,"$16,611,793",1717.0,11/25/92
98,98,Four Christmases,WB (NL),"$120,146,040",3540,"$31,069,826",3310.0,11/26/08
99,99,The Mask,NL,"$119,938,730",2516,"$23,117,068",2360.0,7/29/94
100,100,Blazing Saddles,WB,"$119,500,000",NaN,NaN,NaN,2/7/74